
/* custom font*/

@import url("//hello.myfonts.net/count/2c6c1b");

@font-face {font-family: 'Royal';src: url('http://storage.googleapis.com/bellows/assets/fonts/Royal2.ttf');
}


.first-letter {
  font-family: "Royal";
  font-size: 2.5em;
  color:#516688;
}

.emph {
  font-family: "Pacifico";
  font-size: 1.5em;
  color:#516688;
}


